:host {
  display: block;
  padding: 20px;
  border-radius: 4px;
  color: #fff;
  background-color: #424242; 
}

.actions {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}

mat-form-field {
  margin-bottom: 10px;
  width: 100%;
}